div.display {
    display: flex;
    max-height: 410px;
    max-width: 360px;
    height: 410px;
    width: 310px;
    background-color: #9fae87;
    border: 2px inset #a18803;
    border-radius: 3px;
}