div.scoreboard {
    margin: 4px 4px 0px 0px;
    max-height: 400px;
    max-width: 152px;
    height: 400px;
    width: 152px;
    border: 1px solid black;
}

div.scoreboard div {
    display: flex;
    flex-direction: column;
}

div.scoreboard span {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

canvas#next {
    max-width: 80px;
    max-height: 80px;
}