.App {
  text-align: center;
}

div.game_boy {
  max-width: 500px;
  max-height: 800px;
  width: 450px;
  height: 720px;
  align-items: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: #f0cc1c;
  border: 1px solid #afa7a7;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

div.game_boy h2 {
  text-align: center;
}